/*

    MainHeader

*/
#mainHeader {
    .navbar {
        .navbar-brand {
            .logo {
                width: 60px;
            }
        }
    }
}

/*

    Sidebar Filter Sticky

*/
.sidebar-sticky-top {
    top: 100px;
}

/*

    ListGroup

*/
.list-group {
    &.list-has-chevron {
        .list-group-item-action {
            position: relative;

            .bi-chevron-right {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: .25s ease-in-out;
            }

            &:hover {
                .bi-chevron-right {
                    transform: translate(5px,-50%);
                }
            }

            &.active {
                color: $dark;
                background-color: $primary;

                .bi-chevron-right {
                    transform: translate(10px,-50%) scale(120%);
                }
            }
        }
    }
}

/*

    Buttons Global

*/
.btn {
    position: relative;

    .bi-chevron-right {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s ease-in-out;
    }

    &:hover {
        .bi-chevron-right {
            transform: translate(5px,-50%);
        }   
    }
}

/*

    Breadcrumbs Views

*/
.breadcrumb {
    .breadcrumb-item {
        a {
            text-decoration: none;
            color: $dark;
        }
    }
}

/*

    Pagination List

*/
.pagination {
    .page-item {
        .page-link {
            color: $dark;

            /*&.active {}*/
        }
    }
}

/*

    Swiper Carousel

*/
.swiper {
  /* solo este carrusel */
  --swiper-theme-color: #{$primary};
  --swiper-navigation-color: #{$primary};
  --swiper-pagination-color: #{$primary};

  /* bullets inactivos */
  // bullets
  --swiper-pagination-bullet-size: 16px;          // 8px es el default
  --swiper-pagination-bullet-horizontal-gap: 8px; // separación
  --swiper-pagination-color: #{$primary};             // color activo
  --swiper-pagination-bullet-inactive-color: #{$primary};
  --swiper-pagination-bullet-inactive-opacity: 0.6;

  /* tamaño de flechas */
  --swiper-navigation-size: 30px;
}

/*

    FAB Adopted Count

*/
.fab-adopted-count {
    position: fixed;
    z-index: 9;
    pointer-events: auto;
    bottom: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: $primary;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    .logo {
        width: 36px;
    }

    .badge {
        position: absolute;
        top: 5px;
        right: 5px;
        transform: translate(50%,-50%);
    }

    @media (min-width: 780px) {
        display: none;
        pointer-events: none;
    }
}