.sidebar-sticky-top {
    top: 80px;
}

.list-group {
    &.list-has-chevron {
        .list-group-item-action {
            position: relative;

            .bi-chevron-right {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: .25s ease-in-out;
            }

            &:hover {
                .bi-chevron-right {
                    transform: translate(5px,-50%);
                }
            }

            &.active {
                color: $dark;
                background-color: $primary;

                .bi-chevron-right {
                    transform: translate(10px,-50%) scale(120%);
                }
            }
        }
    }
}

.btn {
    position: relative;

    .bi-chevron-right {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s ease-in-out;
    }

    &:hover {
        .bi-chevron-right {
            transform: translate(5px,-50%);
        }   
    }
}

.breadcrumb {
    .breadcrumb-item {
        a {
            text-decoration: none;
            color: $dark;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $dark;

            /*&.active {}*/
        }
    }
}