#mainHeader {
    .navbar {
        .navbar-brand {
            .logo {
                width: 60px;
            }
        }
    }
}

.sidebar-sticky-top {
    top: 100px;
}

.list-group {
    &.list-has-chevron {
        .list-group-item-action {
            position: relative;

            .bi-chevron-right {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                transition: .25s ease-in-out;
            }

            &:hover {
                .bi-chevron-right {
                    transform: translate(5px,-50%);
                }
            }

            &.active {
                color: $dark;
                background-color: $primary;

                .bi-chevron-right {
                    transform: translate(10px,-50%) scale(120%);
                }
            }
        }
    }
}

.btn {
    position: relative;

    .bi-chevron-right {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: .25s ease-in-out;
    }

    &:hover {
        .bi-chevron-right {
            transform: translate(5px,-50%);
        }   
    }
}

.breadcrumb {
    .breadcrumb-item {
        a {
            text-decoration: none;
            color: $dark;
        }
    }
}

.pagination {
    .page-item {
        .page-link {
            color: $dark;

            /*&.active {}*/
        }
    }
}

.swiper {
  /* solo este carrusel */
  --swiper-theme-color: #{$primary};
  --swiper-navigation-color: #{$primary};
  --swiper-pagination-color: #{$primary};

  /* bullets inactivos */
  // bullets
  --swiper-pagination-bullet-size: 16px;          // 8px es el default
  --swiper-pagination-bullet-horizontal-gap: 8px; // separación
  --swiper-pagination-color: #{$primary};             // color activo
  --swiper-pagination-bullet-inactive-color: #{$primary};
  --swiper-pagination-bullet-inactive-opacity: 0.6;

  /* tamaño de flechas */
  --swiper-navigation-size: 30px;
}